body {
	height: 97%;
	position: absolute;
	width: 99%;
}

.head {
	width: 100%;
	height: 10%;
	text-align: center;
}

#idcontrolGame{
	margin: 10px;
	width: 60%;
	height: 60%;

}

#imagePanel {
	height: 65%;
	width: 70%;
	position: relative;
	border: 1px solid;
	margin-left: 15%;
	margin-right: 15%; 
	visibility: hidden;
	
}

#controllPanel {
	height: 25%;
	margin: 10px;
	visibility: hidden;
	
}

.buttonPanel1{
	width: 30%;
	height: 100%;
	float: left;

}

.buttonPanel2{
	width: 10%;
	height: 100%;
	float: left;
}

#idMoveUp, #idMoveDown{
	width: 33%;
	height: 33%;
	margin-left: 33%;
	margin-right: 33%; 
}

#idMoveLeft, #idMoveRight, #idShot{
	width: 33%;
	float: left;
	height: 33%;
}

#idSpeedDown, #idSpeedUp{
	width: 100%;
	height: 50%;
}

.dataPanel{
	height: 100%;
	width: 60%;
	float: right;
}

.outData{
	padding: 5px;
}

.modelTank {
	width: 20%;
	height: 50px;
	position: absolute;
}

#exampleTank1{
	width: 10%;
	height: 10%;
	position: absolute;
	background: black;
}

