#registr{
    
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background:burlywood;
    padding: 20px;
    border-radius: 20px;
    #form{
        width: 300px;
        margin: 0 auto;
        #value{
            display: inline-block;
            width: 50px;
            font: 16px Arial; 
        }
        #name, #sName, #eMail, #number{
            display: inline-block;
            background: black;
            font: 16px Arial;
            color: white;
            width: 200px;
            border-radius: 20px;
            outline: none;
            border: 3px solid grey;
            padding: 5px;
        }
    }
    #submit{
        margin: 0 auto;
        border-radius: 20px;
        display: block;
        margin-top: 20px;
        background: black;
        font: 16px Arial;
        color: white;
        height: 40px;
        width: 80px;
        outline: none;
        border: 1px solid grey;
        &:hover{
            background: yellow;
            color: blue;
        }
    }
}
h1{
    margin: auto;
    text-align: center;
    color: white;
        
}