
.block1{
	display: block;
	margin: 0 6px 10px 0;
	position: absolute;
	bottom: 70px;
    left: 15px;
	width: 100px;
	height: 100px;
}

.block2{
	display: block;
	margin: 0 6px 10px 0;
	position: absolute;
	bottom: 50px;
    left: 5px;
	width: 100px;
	height: 100px;
}
.block3{
	display: block;
	position: absolute;
    left: 60px;
}
.but1{
	position: fixed;
	bottom: 150px;
    left: 600px;
    width: 100px;
	height: 45px;
}
.but2{
	position: fixed;
	bottom: 50px;
    left: 600px;
    width: 100px;
	height: 45px;
}
.but3{
	position: fixed;
	bottom: 100px;
    left: 600px;
    width: 100px;
	height: 45px;
}
.but4{
	position: fixed;
	bottom: 100px;
    left: 495px;
    width: 100px;
	height: 45px;
}
.but5{
	position: fixed;
	bottom: 100px;
    left: 704.8px;
    width: 100px;
	height: 45px;
}