body {
    background: url(./../img/background.jpg);
}

header {
    /*height: 10%;*/
    background: lightskyblue;
    line-height: 3;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
}

#main {
    height: 550px;
    background: lightseagreen;
    margin: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

#myPhoto {
    max-width: 10%;
    display: inline;
    margin: 10px;
}

#introductionText {
    background: lightgoldenrodyellow;
    border-radius: 10px;
}

footer {
    /*height: 10%;*/
    background: lightcyan;
    text-align: center;
    opacity: 0.8;
}

#foot {
    border-radius: 10px;
    margin: 10px;
}

footer p {
    margin-top: 5px;
    line-height: 0.5;
}