#addForm{
		position: absolute;
		left: 300px;
		top: 100px;
		border-style: solid;
		border-width: 1px;
		padding: 5px;
		height: auto;
		width: 420px;
	}

	#validateForm{
	position: absolute;
		left: 300px;
		top: 250px;
		border-style: solid;
		border-width: 1px;
		padding: 5px;
		height: auto;
		width: 420px;
	}
	
	#add{

		position: relative;
		left: 380px;
	}

	#validate{
		position: relative;
		left: 305px;
		margin-top: 3px;
	}

	#clear{
		position: relative;
		left: 0px;
		margin-top: 3px;
	}

	#name{

		color: black;
	}