@import url(reset.css);

.content{
	display: block;
	position: relative;
	height: 500px;
	width: 100%;
		.T_35{
		display: block;
		background: black;
		width: 100px;
		height: 100px;
		top: 50%;
		left: 50%;
		position: absolute;

		}
}
.indicators{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	margin: 5px;
	background: yellow;
	.indicatName{		
		margin: 20px 20px;
		li{
			color:  black;
			font: 12px;
			padding: 5px 5px;
			.index{
				float: right;
				border: 1px solid black;
				text-align: center;
				padding: 0px 10px;
				width: 30px;

			}
		}
	}
}
.pannel{
	display: inline-block;
	width: 45%;
	form{
		outline: none;
		margin: 20px 20px;
		.speed_up, .speed_down{
			width: 21%;
			margin: 15px auto;
			display: block;
		}
		.maneuver_right, .maneuver_left, .kill{
			width: 21%;
			margin: 15px 25px;
		}
		.maneuver_right{
			float: right;
		}
		.kill{
			width: 60px;
			border-radius: 30px;
			height: 60px;
			margin: 0px 80px;
			outline: none;
			background: red;
		}
	}
}