 .body{
    background-color: :
   }

#heat {
	width:100%;
	height: 50px;
	background-color: #838C73;
	border: 1px solid black;
	content: "dfda";
}
#game{
	width: 300px;
	height: 100px;
	
	margin-left: 39%;
	margin-top:20px; 
	border: 3px solid red;
	border-radius: 20px;
	 padding:0.8em 1.5em 1.5em 1.7em;
	 background-color: red;
	 font-size:35px; }




#coord{
	display:none;
	margin-left: 50%;
	margin-top:6px;
	font-size:35px;
	color: white;


}

#container{
border: 0px solid black;
	height: 700px;
	width: 1200px;
	overflow: auto;
	margin-top: 10px;
	
}
#tank{
	width: 80px;
	height: 80px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top:  420px;
	background:   url('./tank.png');

}
#warzone{
	margin:1px;
	bottom: 0px;
	overflow:hidden;
	width: 500px;
	height: 500px;
	background-color: black;
	border: 3px solid black;
	margin-right:  10%;
	position:relative; 
	float: left;


}

#cntrzone{
	width: 500px;
	height: 500px;
	background-color:#838C73;
	border: 3px solid black;
	position:relative; 
	text-align: center;
	display: inline-block;
	



}
#cntrright{
	width: 100px;
	height: 100px;
	background-color: grey;
	position: absolute;
	margin: 68%;
	margin-top:  38%;
	border: 3px solid black;
	border-radius: 10px;
	line-height: 600%;
}
#cntrsdown{
	width: 100px;
	height: 100px;
	background-color: grey;
	position: absolute;
	margin: 39%;
	margin-top:  68%;
	border: 3px solid black;
	border-radius: 10px;
	line-height: 600%;
}
#cntrleft{
	width: 100px;
	height: 100px;
	background-color: grey;
	border: 3px solid black;
	margin: 10%;
	margin-top:  38%;
	position: absolute;
	border-radius: 10px;
	line-height: 600%;
}
#cntrsup{
	width: 100px;
	height: 100px;
	background-color: grey;
	border: 3px solid black;
	margin: 39%;
	margin-top:  8%;
	position: absolute;
	border-radius: 10px;
	line-height: 600%;
}


#butfire {

	
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	margin: 39%;
	margin-top:  38%;
	border: 3px solid black;
	border-radius: 10px;
	line-height: 600%;

}
#butfire.hover {
	width: 100px;
	height: 100px;
	background-color: white;
	position: absolute;
	margin: 36%;
	margin-top:  36%;
	border: 3px solid black;
	border-radius: 10px;
	line-height: 600%;
	
}