#Wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    /*background: green;*/
}

#CentralDiv {
    width: 19em;
    height: 19em;
    margin: 1em auto;
    background: crimson;
    border-radius: 10px;
}

#ControlsANdStatus {
    position: relative;
}

#Status {
    background: orange;
    border-radius: 10px;
    text-align: center;
}


/*#StatusWrapper {
    width: 90%;
}*/

#Controls {
    background: blue;
    border-radius: 10px;
    text-align: center;
}

button {
    border-radius: 3px;
    width: 4em;
    height: 4em;
    margin: 10px 6px 10px 10px;
}

#Piy {
    border-radius: 50%;
}

li {
    text-align: center;
    list-style-type: none;
}